* {
  margin: 0 auto;
}


/* Code that applys to everything on challenge2 page (inside the body - exclude navbar) */

. {
  font-family: 'Roboto', sans-serif;
  background-color: green;
  margin: 0 auto;
  
}

/* Navagation bar */

nav li{
  list-style-type: none;
  margin: 1vw 0;
  
  font-size: 2vh;
}

nav a{
  text-decoration: none;
  color: black;
  font-family: monospace;

  padding: 1vw;
}

nav{
  width: 100vw;
  background-color: lightgreen;
}

nav ul{
  display: block;
  margin: 0;
  padding: 0;
  
  display: flex;  
}

nav a:hover{
  background-color: lightgreen;
  color: white;
  border: 1px white solid;
}

@media only screen and (max-width: 500px) {
  nav ul{
    flex-direction: column;
  }
  
  nav ul {
    display: block;
  }
  
  nav li{
    margin: 0 auto;
  }
  
  button{
    display: block;
    padding: 2vw;
    font-size: 3vh;
    background-color: lightgreen;
    border: none;
    outline: none;
    cursor: pointer;
    
    align-self: flex-start;
  }
}

/* End of nav */


/* Start of paragraph in challenge 2 */

.challenge-two-text {
  padding: 10px;
  background-color: lightgreen;
}

.challenge-two-text h1, .challenge-two-text h3, .challenge-two-text p {
  padding: 10px;
}

.challenge-one h1, .challenge-one ul, .challenge-one h5, .challenge-one img {
  background-color: purple;
}

/* End of paragraph in challenge 2  */

/* Challenge 3 */

.three ul li {
  margin: auto;
  padding: 20px;
}


.bodythree {
  background-color: green;
}

.chal-3 {
  background-color: aquamarine;
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 10px;
}

.banner {
  width: 100%;
}

.poop {
  display: flex;
  padding: 5px;
  text-align: center;
  background-color: thistle;
}
